*:focus{
    outline: none;
}
.top-container{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}

.margin{
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.menu-superior{
    display: flex;
    justify-content: space-between;
    font-family: 'Titillium Web', sans-serif;
    align-items: center;
    width: 1300px;
    height: 76px;
    margin: 0 auto;

}


.menu-superior h1{
    color: #DF285F;
    font-weight: bold;
    font-size: 30px;
}

.menu-superior a{
    font-size: 20px;
    font-weight: 20px;
}

.menu-superior button{
    background-color: #DF285F;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    width: 110px;
    height: 38px;
    border-radius: 38px;
    border: none;
    cursor: pointer;
}

.main {
    width: 100%;
    width: 1300px;
    margin: 116px auto;
}

.main h2{
    font-family: 'Titillium Web', sans-serif;
    margin: 0 ;
    font-size: 25px;
    color: #DF285F;
    font-weight: bold;
}

.calculator{
    display: flex;
    width: 1160px;
    margin: 20px auto 60px auto;
}

.calculator-input{
    flex-grow: 1 ;
    margin: 0 5vw 0 0;
}


.calculator p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.calculator-input-line {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 40px;
}

.calculator input{
    border: none;
    border-bottom: 1px solid #4D5755;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    width: 200px;
    height: 25px;
    text-align: center;
}

.calculator input.red-border{
    border: none;
    box-sizing: border-box;
    border: 2px solid red;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    width: 200px;
    height: 25px;
    text-align: center;

}

.output{
    min-width: 515px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.output-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recommendation-buttom{
    background-color: #DF285F;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    width: 180px;
    height: 31px;
    border-radius: 38px;
    border: none;
    cursor: pointer;
}

.output-recommendation{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #4D5755;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
}

.seletor-corretor-de-acidez {
    background-color: #DF285F;
    color: #fff;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    width: 180px;
    height: 31px;
    border-radius: 31px;
    border: none;
}

.output-solo-analisis  label{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.output-solo-analisis input{
    width: 20px;
    height: 20px;
}

.red-border{
    box-sizing: border-box;
    border: 5px solid #ff0000;
}

.output-solo-analisis{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.checkbox{
    font-size: 20px;
    margin: 8px;
    color: #DF285F;
    background-color: #DF285F;
    border-radius: 4px;
}

.checkbox-clicked{
    background-color: #fff;
}

.hided{
    display: none;
}

header{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.output-solo-analisis{
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
}

@media(max-width: 1300px){
    header{
        width: 100%;
    }

    .menu-superior{
        width: 100%;
        padding: 0 5vw;
        box-sizing: border-box;
    }   

    .main{
        width: 100%;
    }

    .calculator{
        flex-direction: column;
        max-width: 100%;
    }

    .calculator-input{
        margin: 0 0 50px 0;
    }

    .main{
        box-sizing: border-box;
        padding: 0 5vw;
    }

    .output-header{
        justify-content: flex-end;
    }

    .calculator-input{
        height: calc(40vh - 45px);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .calculator-input-line{
        margin: 0;
    }

    .output{
        height: calc(40vh - 71px);
    }
}

@media(max-width: 700px){
    header{
        flex-direction: column;
        align-items: center;
    }
    .menu-superior{
        flex-direction: row;
    }
    .calculator-input-line{
        width: 100%;
    }
    .calculator input{
        width: 100%;
    }
    .output{
        min-width: 0;
        width: 100%;
    }
}