.title{
    font-family: 'Open Sans', sans-serif;
    color: #FE9001;
    font-size: 24px;
    font-weight: bold;

}

.solo-analisys{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #595A63;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 32px 0 16px 0 ;
}

.calculator-navigation{
    border-bottom: 2px solid #FE5E31;
    display: flex;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
    color: #595A63;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    height: 52px;
}