.input {
    font-family: 'Roboto', 'Sans-Serif';
    margin: 14px 0;
    display: flex;
    justify-content: space-between;
}

.input-area{
    width: 50%
}

.input-label {
    font-size: 14px;
}

.input-change-buttons{
    width: 30%;
    max-width: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}